@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("UiKit/assets/fonts/Inter-Regular.woff2") format("woff2"), url("UiKit/assets/fonts/Inter-Regular.woff") format("woff"), url("UiKit/assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face{
  font-family: TiemposHeadlineSemibold;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("UiKit/assets/fonts/TestTiemposHeadline-Semibold.woff2") format("woff2"), url("UiKit/assets/fonts/TestTiemposHeadline-Semibold.woff") format("woff"), url("UiKit/assets/fonts/TestTiemposHeadline-Semibold.ttf") format("truetype");
}
